<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" routerLink="/admin-home">Admin Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-home/admin-movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-home/admin-theatres">Theatres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-home/admin-shows">Shows</a>
          </li>
        </ul>
      </div>
    </nav>
  
    <!-- Add a Back Button -->
    <button class="btn btn-primary mt-3" routerLink="">Back to Home</button>
  
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  